/.github/ @Splinter3D/Admins @Splinter3D/Maintainers
/scripts/ @Splinter3D/Admins @Splinter3D/Maintainers
/.clang-format @Splinter3D/Admins @Splinter3D/Maintainers
/.cz.toml @Splinter3D/Admins @Splinter3D/Maintainers
/.gitattributes @Splinter3D/Admins @Splinter3D/Maintainers
/.gitignore @Splinter3D/Admins @Splinter3D/Maintainers
/.pre-commit-config.yaml @Splinter3D/Admins @Splinter3D/Maintainers
/LICENSE @Splinter3D/Admins @Splinter3D/Maintainers
