/.github/ @Splinter3D/Admins
/scripts/ @Splinter3D/Admins
/.clang-format @Splinter3D/Admins
/.cz.toml @Splinter3D/Admins
/.gitattributes @Splinter3D/Admins
/.gitignore @Splinter3D/Admins
/.pre-commit-config.yaml @Splinter3D/Admins
/LICENSE @Splinter3D/Admins
